apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-server
spec:
  selector:
    matchLabels:
      app: nginx
  replicas: 3
  template:
    metadata:
      labels:
        app: nginx
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "9113"
    spec:
      containers:
      - name: nginx
        image: nginx:latest
        ports:
        - containerPort: 80
          name: http
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "200m"
            memory: "256Mi"
        volumeMounts:
        - name: nginx-metrics-config
          mountPath: /etc/nginx/conf.d/default.conf
          subPath: nginx.conf
      - name: nginx-exporter
        image: nginx/nginx-prometheus-exporter:1.5
        args:
        - '-nginx.scrape-uri=http://localhost/metrics'
        ports:
        - containerPort: 9113
          name: metrics
        resources:
          requests:
            cpu: "0.05"
            memory: "64Mi"
          limits:
            cpu: "0.3"
            memory: "128Mi"
      volumes:
      - configMap:
          defaultMode: 420
          name: nginx-metrics-config
        name: nginx-metrics-config